{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
<img src="\static\MY pic.jpg" class="d-block w-50 mx-0" alt="...">
<em><i><h3 class="background1" style="
    position: absolute;
    top: 100px;
    left: 800px; my-3">
    <img src="\static\motimy.PNG" class="d-block w-60 py-6" alt="...">
    
    <p>Rishav Chatterjee </p>| B.Tech 2nd Year, Government College of Engineering and Leather Technoogy | Web Developer, AI, ML ,DS Enthusiast | Email: crishav01@gmail.com |
    http://github.com/rishav-lernerml | 
    /in/rishav-chatterjee-384505173 | 
    fb: Rishav Chatterjee</p></h3></i></em>
</div>
{% endblock body %}